@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');



button:focus,
.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
	background-color:#F7F7F7;
}

header {
	background-color: #F7F7F7;
	padding: 5px 0;
	border-bottom: 1px solid #cbcbcb;

}

.navbar-brand {
	font-size: 25px;
	/* font-weight: 700; */
	/* color: #0AEDED; */
	/* -webkit-text-stroke: #fff 1px; */

}

.navbar-nav .nav-item {
	margin: 0 10px;
}

.navbar-nav .nav-link {
	font-size: 18px;
	font-weight: 400;
	color: rgb(0, 0, 0);
	display: inline-block;
}
.navbar-nav .nav-link:hover{
	color: #457EFF;
} 

.dropdown-menu .dropdown-item {
	margin-bottom: 10px;
}

.dropdown-menu .dropdown-item:hover {
	background-color: #008489;
	color: rgb(0, 0, 0);
}

.dropdown-mega .dropdown-menu {
	background-color: #F7F7F7;
	width: 100%;
}

.dropdown-mega h5 {
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	margin: 0;
}

.list-group-item {
	font-size: 18px;
	color: #3F3B51;
	border: 0;
	/* border-bottom: 1px solid rgba(0, 0, 0, .125); */
	padding: 12px 0;
}

.list-group-item:hover {
	color: #008489;
}

.btn {
	background-color: #0AEDED;
}

section {
	height: 100vh;
}
footer a{
	color: #0AEDED;

}

/* Responsive */
@media(max-width: 991.5px) {
	.navbar-brand {
		font-size: 30px
	}

	.navbar-nav .nav-item {
		margin: 5px 10px;
	}

	form {
		margin: 30px 0;
	}
}
#login {
	backface-visibility: hidden;
	outline: 2px solid #457dff9c;
	border: 0;
	border-radius: 5rem;
	box-sizing: border-box;
	color: #457EFF;
	cursor: pointer;
	display: inline-block;
	font-family: Circular,Helvetica,sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: -.01em;
	line-height: 1.0;
	padding: 1rem 1.25rem;
	position: relative;
	text-align: left;
	text-decoration: none;
	transform: translateZ(0) scale(1);
	transition: transform .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	align-items: top right; 
	margin-right: 33px;
  }
  
  #login:disabled {
	color: #787878;
	cursor: auto;
  }
  
  #login:not(:disabled):hover {
	transform: scale(1.05);
	box-shadow:0px 0px 2px 2px rgba(0, 0, 0, 0.185);
  }
  
  #login:not(:disabled):hover:active {
	transform: scale(1.05) translateY(.125rem);
  }
  
  #login:focus {
	outline: 0 solid transparent;
  }
  
  #login:focus:before {
	border-width: .125rem;
	content: "";
	left: calc(-1*.375rem);
	pointer-events: none;
	position: absolute;
	top: calc(-1*.375rem);
	transition: border-radius;
	user-select: none;
  }
  
  #login:focus:not(:focus-visible) {
	outline: 0 solid transparent;
  }
  
  #login:not(:disabled):active {
	transform: translateY(.125rem);
  }
  #sign-up {
	  backface-visibility: hidden;
	  outline: 2px solid #ff7518;
	  background-color: #ff6600;
	  border: 0;
	  border-radius: 5rem;
	  box-sizing: border-box;
	  color: #fff;
	  cursor: pointer;
	  display: inline-block;
	  font-family: Circular,Helvetica,sans-serif;
	  font-size: 1.125rem;
	  font-weight: 700;
	  letter-spacing: -.01em;
	  line-height: 1.0;
	  padding: 1rem 1.25rem;
	  position: relative;
	  text-align: left;
	  text-decoration: none;
	  transform: translateZ(0) scale(1);
	  transition: transform .2s;
	  user-select: none;
	  -webkit-user-select: none;
	  touch-action: manipulation;
	  align-items: top right;
	  margin-right: 33px;
	}
	
	#sign-up:disabled {
	  color: #757575;
	  cursor: auto;
	}
	
	#sign-up:not(:disabled):hover {
	  transform: scale(1.05);
	  box-shadow:0px 0px 2px 2px rgb(0, 0, 0,0.5);
	}
	
	#sign-up:not(:disabled):hover:active {
	  transform: scale(1.05) translateY(.125rem);
	}
	
	#sign-up:focus {
	  outline: 0 solid transparent;
	}
	
	#sign-up:focus:before {
	  border-width: .125rem;
	  content: "";
	  left: calc(-1*.375rem);
	  pointer-events: none;
	  position: absolute;
	  top: calc(-1*.375rem);
	  transition: border-radius;
	  user-select: none;
	}
	
	#sign-up:focus:not(:focus-visible) {
	  outline: 0 solid transparent;
	}
	
	#sign-up:not(:disabled):active {
	  transform: translateY(.125rem);
	}
/* .Login-signup{
	word-spacing: 10px;
	margin-right: 0;
	padding-right: 0%;
	} */

#colorss{
	font-size: 13px;
	background-color: #F7F7F7;

}
#colorss:hover{
	font-size: 15px;
	color: #fff;
	text-align: center;
	background-color: #FF4500;
}