.Searchalign{
  text-align: center;
  margin-top: 60px;
}
.searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  padding-top: 300px;
  border-radius: 60px;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 800px;
  text-align: center;
  padding: 9px 9px 9px 24px;
  background: #fff;
  border: 2px solid #bababa;
  box-sizing: border-box;
  box-shadow: 0 8px 12pxrgba(86,141,187,1);
  border-radius: 100px;
  
}
   
.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  text-align: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: #F7F7F7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  margin-left: 575px;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

/* a:hover {
  background-color: lightgrey;
} */

#clearBtn {
  cursor: pointer;
}