*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);

}
#choose{
    text-align: center;
}
.container h2{
    color: rgb(0, 0, 0);
    font-size: 32px;
    /* margin-left: auto; */
    padding: 50px 0;
    text-align: center; 
    display: flexbox;
}
.price-row{
  width: 90%;  
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 25px;
}

.price-col{
    background-color: rgba(255, 255, 255, 0.326);
    padding: 10% 15%;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    

}
.price-col p{
    font-size: 22px;
}
.price-col h3{
    font-size: 44px;
    font-weight: 500;
    margin: 20px 0 40px;
}
.price-col h3 span{
    font-size: 16px;
}
.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: rgb(0, 0, 0);
    list-style: none;

}
.price-col ul li{
 margin: 15px 0;   
}
.price-col ul li::before{
    content: '\2022';
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 8px;
}
.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px ;
    cursor: pointer;
    transition: background 0.3s;
}
.price-col button:hover{
    background: #e33058;
}
.price-col{
border: .0625rem solid rgba(23,31,56,.125);
border-top-color: rgba(23, 31, 56, 0.125);
border-top-style: solid;
border-top-width: 0.0625rem;
border-right-color: rgba(23, 31, 56, 0.125);
border-right-style: solid;
border-right-width: 0.0625rem;
border-bottom-color: rgba(23, 31, 56, 0.125);
border-bottom-style: solid;
border-bottom-width: 0.0625rem;
border-left-color: rgba(23, 31, 56, 0.125);
border-left-style: solid;
border-left-width: 0.0625rem;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}