@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
:root {
    --primary: #00a4b3;
    --light: rgb(255, 255, 255);
    --dark: rgb(15, 0, 0);
  }
footer{
    width: 100%;
    bottom: 0;
    background: var(--dark);
    color: var(--light);
    padding: 90px 0 30px;
    border-top-left-radius:125px ;
    font-size: 13px;
    line-height: 20px;
    outline: auto;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;

}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.emailID{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
       margin-bottom: 12px;

}
ul li a{
    text-decoration: none;
    color: var(--light);

}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-items: space-between;
    border-bottom: 1px solid var(--light);
    margin-bottom: 50px;
}

form .far{
    font-size: 18px;
    margin-right: 10px;

}
form input{
    width: 100%;
    background: transparent;
    color: var(--light);
    border: 0;
    outline: none;

}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: var(--light); 
}
.social-media i{

    font-weight: 600;
    font-size: medium;
    margin-left: 25px;
    
        
}
.social-media i:hover{

}
hr{
    width: 100%;
    opacity: 90%;
    border: 0;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin: 10px auto;
    padding-bottom: 0;
}


.copyright{
    text-align: center;
    font-size: medium;
    
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;   
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
    margin-top: 5px;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top:0;
    left: 10px;
    animation: moving 2s linear infinite;
}
.col:nth-child(1){
    margin-right: 25px;
}



@keyframes moving{
    0%{
        left: -20px;

    }
    100%{
        left: 100%
        
    }
}

@media (max-width:700px){
    footer{
        bottom: unset;

    }
    .col{
        flex-basis: 100%;

    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 15%;
    }
}












