@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
} 

div .abhi{
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    margin-top: 300px;
}

.Home  {
  text-align: center;
  padding-top: 80px;
}