.searchInputs {
    width: 100%;
    background-color: rgb(255, 255, 255);    
    display: flex;
    align-items: center;
    margin-top: 20vh;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;

}

.search input {
  display: flex;
  height: 55px;
  width: 600px;
}

.searchIcon {
  height: 55px;
  width: 50px;
  background-color: tomato;
  display: grid;
  color: white;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);    
  display: flexbox;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}


.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
