.slidercontainer {
  background-color: rgb(255, 255, 255);
  margin-top: 4vh;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 100px;
  /* -ms-overflow-style: none; */
}

.features-colleges {
  margin-top: 100px;
  padding: 0;
}
.card {
  margin-left: 10px;
  margin-left: 10px;
  /* justify-content: space-evenly; */
  overflow: hidden;
  display: -ms-inline-flexbox;
  display: inline-block;
  text-align: center;
}
